$manual-black: #000;

$manual-white: #fafafa;
$manual-white-smoke: #f6f6f6;
$manual-beige: #f3f9e7;
$manual-orange: #ff5100;
$manual-light-orange: #ff5833;
$manual-indigo: #4c4c84;
$manual-dark-indigo: #2d3953;
